    /* Styles de ejercicio 2 (cambiaImagen) */
.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-exampl{
	margin: 20px;
}

